<%= image_tag("logo.gif",:align => 'left',:width => '100px',:height => '100px') %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">My Goals</a></li>
  <li><a href="/goals">Find Goals</a></li>
  <li><a href="friends/index">Friend's Goals</a></li>
</ul>


<h1>Listing milestones</h1>

<table>
  <tr>
<th>Id</th>    
<th>Goal instance</th>
    <th>No of days</th>
    <th>Description</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @miles.each do |milestone| %>
  <tr>
    <td><%= milestone.id %> </td>	
    <td><%= milestone.goal_instance %></td>
    <td><%= milestone.no_of_days %></td>
    <td><%= milestone.description %></td>
    <td><%= milestone.title %></td>


<!--<td><%= unless milestone.goal_instance.nil?
         link_to milestone.goal_instance.start_date end%> </td>-->
<% require 'gchart' %>

<img src="<%=Gchart.line(:data => [0, 40, 10, 70, 20])%>"/>



    <%= button_to "my_button" %>    	
   <!-- <td><%= link_to 'Show', milestone %></td>
    <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
    <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Milestone', new_milestone_path %>
