<h1>Listing milstones</h1>

<table>
  <tr>
    <th>Goal instance</th>
    <th>No of days</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @milstones.each do |milstone| %>
  <tr>
    <td><%= milstone.goal_instance %></td>
    <td><%= milstone.no_of_days %></td>
    <td><%= milstone.title %></td>
    <td><%= milstone.description %></td>
    <td><%= link_to 'Show', milstone %></td>
    <td><%= link_to 'Edit', edit_milstone_path(milstone) %></td>
    <td><%= link_to 'Destroy', milstone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Milstone', new_milstone_path %>
