<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container container-navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand trackr" href="#"><b>Trac.kr</b></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/goal_instances?user_id=<%= session[:current_user]%>">My Goals</a></li>
        <li><a href="/goals">Find Goals</a></li>
        <li class="active"><a href="#">Friends</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Logged in as</a></li>
        <li>
          <%= image_tag session['current_user_picture'], :width => "30px", :height => "30px", :style => "margin-top:10px" %>
        </li>
        <li><a href="#"><b><%=session['current_user_first_name']%></b></a></li>
        <li><a href="/logout">
            Logout <span class="glyphicon glyphicon-remove-circle"></span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
<h1>My Friends</h1>

<form class="form-search">
  <div class="input-append">
     <input type="text" class="aearch-query btn-large" placeholder="Search..." style="padding: 12px;">
       <button type="submit" class="btn btn-small" action=<%=request.path%>>
          <i class="icon-search"></i>
          Search
      </button>
   </div>
</form>

<table>
<% @friends.each do |friend| %>
  <tr>
  	<td>
      <%= image_tag user_image_url(friend['id']) %>
      <%= link_to friend.first_name + " " + friend.last_name, 
  				:controller => "goal_instances", :user_id => friend['id']%>
    </td>
  </tr>
<% end %>
</table>
</div>
