<%= form_for(@goal) do |f| %>
	 <% if @goal.errors.any? %>
		<div class="alert alert-danger" >
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

			<ul>
			<% @goal.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
			</ul>
  		</div>
	<% end %>

	<div class="media">
		<div class="pull-left">
			<a href="#">
				<%= image_tag @goal.picture.url, :class => "img-thumbnail img-responsive", :width => "350px", :height => "350px" %>
			</a>
			<br />
			<a data-toggle="modal" href="#modal_window" class="btn btn-default navbar-btn" style="margin-left:100px;">
				Change Image <i class="glyphicon glyphicon-picture"></i>
			</a>
		</div>
		
		<div class="pull-right col-sm-7">
		  <div class="form-group">
		    <h4><span class="label label-primary"><%= f.label :title %></span></h4>
		    <%= f.text_area :title, rows:1, :class => "form-control"%>
		  </div>

		  <div class="form-group">
		    <h4><span class="label label-primary"><%= f.label :description %></span></h4>
		    <%= f.text_area :description, rows:7, :class => "form-control" %>
		  </div>
		  
		  <%= link_to raw('<i class="glyphicon glyphicon-chevron-left"></i> Back'), goals_path, :class => "btn btn-primary" %>
		  <%= f.submit "Create New Goal", :class => "btn btn-success navbar-btn" %>
		</div>
	</div>

	<!-- modal window start-->
	<div id="modal_window" class="modal fade in">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Select file</h3>
	</div>
	<div class="modal-body">
		<div class="field">
		  <%= f.label :picture %><br />
		  <%= f.file_field :picture %>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
	</div>
	<!-- modal window end -->
  </div>
<% end %>
