<div class="container container-g">

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

	

<form role="search" action=<%=request.path%>>
<div class="col-lg-6">
    <div class="input-group">
      <input name="search" type="text" class="form-control" placeholder="Search Goals...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search <i class="glyphicon glyphicon-search"></i></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</form>
<%= link_to raw('<i class="glyphicon glyphicon-plus"></i> Create New Goal'), new_goal_path, :class => "btn btn-primary" %>

<br />
<br />

<% @goals.each_with_index do |goal,index| %>
  <% if (index+1) % 3 == 0 %>
  	<div class="row">
  <%end%>

  <div class="col-sm-12 col-md-4">
  	<div class="thumbnail">
  	  	<%= image_tag goal.picture.url, :width => "300px", :height => "300px" %>
  	  	<div class="caption" >
  	  		<h4 class="text-center">
          <%= link_to goal.title, goal%>
          <span class="badge"><%= goal.goal_instances.length%> <i class="glyphicon glyphicon-fire" ></i></span>

          </h4>
  	  	</div>
     </div>
  </div>

  <% if (index+1) % 3 == 0 %>
  	</div>
  <%end%>
<% end %>
	
<br />
<%= will_paginate @goals,renderer: BootstrapPagination::Rails%>
</div>

