<%= form_for(@goal_instance) do |f| %>
  <% if @goal_instance.errors.any? %>
    <div class="alert alert-danger" >
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2><%= pluralize(@goal_instance.errors.count, "error") %> prohibited this goal_instance from being saved:</h2>

      <ul>
      <% @goal_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h4>
      <span class="label label-primary"><%= f.label :start_date %></span>
      <%= f.date_select :start_date %>
    </h4>
  </div>

  <div class="form-group">
    <h4>
      <span class="label label-primary"><%= f.label :end_date %></span>
      <%= f.date_select :end_date %>
    </h4>
  </div>

  <div class="actions">
    <%= f.hidden_field :is_complete, :value => false %>

    <hr />
    <%= link_to raw('<i class="glyphicon glyphicon-chevron-left"></i> Back'), goal_instances_path, :class => "btn btn-primary" %>
    <%= f.submit 'Update Goal Instance', :class => "btn btn-success navbar-btn" %>
  </div>
<% end %>
