<div class="container">
	<% current_goal = Goal.find(params[:goal_id])%>
	<div class="pull-left" style="margin: 20px 20px 0px 0px;">
		<a href="#">
			<%= image_tag current_goal.picture.url, :class => "img-thumbnail img-responsive", :width => "350px", :height => "350x"  %>
		</a>
	</div>
	
	<div class="container">
		<h1><b><%= current_goal.title %></b></h1>
		<hr />
		<h2><small><%= current_goal.description %></small></h2>
		<hr />
		Created by <b><%= current_goal.user.first_name + " " + current_goal.user.last_name%></b>
	</div>	
	
	<%= render 'form' %>
</div>
