<br/>
<br/>
<br/>
<br/>
<p id="notice"><%= notice %></p>

<div class="media">
	<a class="pull-left" href="#">
		<%= image_tag @goal_instance.goal.picture.url, :class => "media-object", :width => "200px", :height => "200px" %>
	</a>
	<div class="media-body">
		<div class="page-header">
			<h1>
				<%= @goal_instance.goal.title %>
				<small><%= @goal_instance.goal.description %></small>
			</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4"> <b> Started At</b></div>
				<div class="col-md-4"> <%= @goal_instance.start_date%></div>
			</div>
			<div class="row">
				<div class="col-md-4"> <b> End By </b></div>
				<div class="col-md-4"> <%= @goal_instance.end_date%></div>
		</div>
		<br \>
		<br \>
		<div class="row">
			<div class="col-md-4"> <b>
				<% if User.find(session[:current_user]) == @goal_instance.user then %>
					You have <%=@goal_instance.cheer_ons%> cheer ons for this goal.
					<% else %> <%=@goal_instance.user.first_name %> has <%=@goal_instance.cheer_ons%> cheer ons for this goal.
					<% end%>
				</b></div>
		</div>
	</div>	
</div>

<br />
<table>
<tr>
<%if User.find(session[:current_user]) == @goal_instance.user %>
		<td><%=link_to 'Edit', edit_goal_instance_path(@goal_instance)%> |</td>
		<td><%=button_to 'Delete', @goal_instance, method: :delete, html_options: {confirm: 'Are you sure?'}, :class => 'button'%></td>
	<%end%> 
<td>|<%= link_to 'Back', goal_instances_path(:user_id => @goal_instance.user.id) %></td>
</tr>
</table>
<!--<%= link_to 'Delete', @goal_instance, method: :delete, data: { confirm: 'Are you sure?' } %> |-->


