<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container container-navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand trackr" href="#"><b>Trac.kr</b></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/goal_instances?user_id=<%= session[:current_user]%>">My Goals</a></li>
        <li><a href="/goals">Find Goals</a></li>
        <li><a href="/friends/index">Friends</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Logged in as</a></li>
        <li>
          <%= image_tag session['current_user_picture'], :width => "30px", :height => "30px", :style => "margin-top:10px" %>
        </li>
        <li><a href="#"><b><%= session['current_user_first_name']%></b></a></li>
        <li><a href="/logout">
            Logout <span class="glyphicon glyphicon-remove-circle"></span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<br />
<br />
<br />
<br />

<div class="container">

<% if notice %>
<div class="alert alert-success" >
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<p id="notice"><%= notice %></p>
</div>
<% end %>

<% sample = 0 %>


<div class="media">
	<a class="pull-left" href="#">
		<%= image_tag @goal_instance.goal.picture.url, :class => "media-object", :width => "300px", :height => "200px" %>
	</a>
	<div class="media-body">
		<div class="page-header">
			<h1>
				<%= @goal_instance.goal.title %>
				<br />
				<small><%= @goal_instance.goal.description %></small>
			</h1>
		</div>
		<div class="container" class="pull-left">
			<div class="row">
				<div class="col-sm-5"> <b> Started At</b></div>
				<div class="col-sm-5"> <%= @goal_instance.start_date%></div>
				<div class="col-sm-5"><img src="<%=Gchart.pie(:data => [0.02,sample,3-sample])%>"/></div>
			<br \>
			</div>
			<div class="row">
				<div class="col-sm-5"> <b> End By </b></div>
				<div class="col-sm-5"> <%= @goal_instance.end_date%></div>
			</div>
			<br \>
			<div class="row">
				<div class="col-sm-5"> <b>
					<% if User.find(session[:current_user]) == @goal_instance.user then %>
					You have <%=@goal_instance.cheer_ons%> cheer ons for this goal.
					<% else %> <%=@goal_instance.user.first_name %> has <%=@goal_instance.cheer_ons%> cheer ons for this goal.
					<%end%>
				</b></div>
				<div class="col-sm-5"><b>
					<% if User.find(session[:current_user]) != @goal_instance.user then %>
						<%= button_to 'Cheer on', {:action => 'cheeron', remote: true }, :class => 'btn btn-success btn-xs', :method => :put%> 
					<% end %>
				</div>	
			</div>
	</div>
	</div>
</div>
<br />	

<table class="table bordered-table">
   <caption class="text-left">Milestones</caption>
   <thead>
      <tr>
         <th><a href='#' onClick="return false">Check</a></th>
         <th>Is Complete</th>
         <th>Description</th>
         <th>Duration</th>
      </tr>
   </thead>
   <tbody>
      
        <%  @milestones.each do |milestone| %>
         <tr>
         <td> <%= check_box_tag  milestone.id, 0 %>
         <td><%= milestone.is_complete %></td>
         <%= if milestone.is_complete = 1 then sample=sample+1 end %>
         <td><%= milestone.description %></td>
         <td><%= milestone.duration %></td>
      </tr>   
        <% end %>

     

      </tbody>
</table>

<div class="pull-left">
<div class="media">
		<div class="container">
			<div class="row">
				<%if User.find(session[:current_user]) == @goal_instance.user %>
					<div class="col-xs-1"><%=link_to 'Edit', edit_goal_instance_path(@goal_instance)%> </div>
					<div class="col-xs-1"><%=button_to 'Delete', @goal_instance, method: :delete, html_options: {confirm: 'Are you sure?'}, :class => 'button'%></div>
				<%end%> 
				<div class="col-xs-1"><%= link_to 'Back', goal_instances_path(:user_id => @goal_instance.user.id) %></div>
			</div>
		</div>
</div>
</div>



