<!DOCTYPE html>
<html>
<head>
  <title>Trac.kr | Goal Tracking App</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script src="/assets/holder.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<% if current_user%>
<%= link_to raw("Logout <i class=\"icon-remove-sign\"></i>"), "/logout", :class => "btn btn-snall", :style => "float:right;"%>
<% end %>

<%= yield %>

</body>
</html>
