<!DOCTYPE html>
<html>
<head>
  <title>Trac.kr | Goal Tracking App</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
<%= javascript_include_tag :defaults, "jquery" %> 
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
 	<script src="/assets/holder.js"></script>
    <%= stylesheet_link_tag    "application", :media => "all" %>
 	<%= csrf_meta_tags %>
 	<link href="/assets/trackr-favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body class='<%= controller.controller_name %>'>

<% puts controller.controller_name %>

<% if current_user%>
	<%= link_to raw("Logout <i class=\"icon-remove-sign\"></i>"), "/logout", :class => "btn btn-snall", :style => "float:right;"%>
<%	 end %>

<%= yield %>

</body>
</html>
